.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.custom-rounded-left {
    border-radius: 50px 0 0 50px;
}

.custom-rounded-right {
    border-radius: 0 50px 50px 0;
}

body {
    overflow: hidden;
}

#registerImg {
    height: 70vh;
}


@media (min-width: 992px) {
    .custom-image-placement .image-column {
        order: 2;
    }
    .custom-image-placement .form-column {
        order: 1;
    }
}